@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.header-footer, header, footer {
  background-color: black;
  color: white; }

.header-footer, header, footer {
  background-color: black;
  color: white; }

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  font-family: "Roboto", sans-serif; }
  header nav a {
    margin: 10px;
    text-decoration: none;
    list-style: none; }
  header nav img {
    height: 120px;
    width: 120px; }

.header-footer, header, footer {
  background-color: black;
  color: white; }

.header-footer, header, footer {
  background-color: black;
  color: white; }

footer {
  margin-top: auto;
  height: 105px;
  bottom: 0;
  width: 100%; }
  footer .grupo-1 .box {
    text-align: center; }
  footer .grupo-2 {
    color: white;
    text-align: center; }

.contenido {
  height: 1050px;
  width: 100%;
  font-family: "Roboto", sans-serif; }
  .contenido h1 {
    font-size: 120px;
    margin-left: 150px;
    margin-top: 220px; }
  .contenido p {
    font-size: 150px;
    font-weight: bolder;
    color: blueviolet;
    margin-left: 150px; }
  .contenido .control {
    height: 550px;
    width: 850px;
    transform: rotate(15deg);
    margin-left: 800px;
    margin-top: -700px; }
  .contenido .play img {
    height: 120px;
    width: 120px;
    margin-left: 300px;
    margin-top: 10px; }

.blog-post {
  width: 100vw;
  max-width: 1600px;
  margin-top: 150px;
  margin-left: 150px;
  padding: 30px;
  background-color: #c2c1c1;
  box-shadow: 0 1.4rem 8rem #8c8d8d;
  display: flex;
  align-items: center;
  border-radius: .8rem;
  font-family: 'Roboto', sans-serif; }
  .blog-post .blog-post-img {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    transform: translateX(-8rem);
    position: relative; }
    .blog-post .blog-post-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: .8rem; }
  .blog-post .blog-post-date h4 {
    display: block;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    margin: .5rem 0; }
  .blog-post .blog-post-tittle {
    font-size: 35px;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: black; }
  .blog-post .blog-post-text {
    margin-bottom: 3rem;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7); }

main {
  display: grid; }
  main .image-grid {
    --gap:16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap); }
  main .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grupo-1 .box img {
  width: 75px;
  height: 75px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 1366px) {
  .container {
    max-width: 100%;
    max-height: 100%;
    margin: 0; }
  .contenido {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif; }
  .contenido h1 {
    font-size: 60px;
    margin-left: 150px;
    margin-top: 220px; }
  .contenido p {
    font-size: 80px;
    font-weight: bolder;
    color: blueviolet;
    margin-left: 150px; }
  .contenido .control {
    height: 450px;
    width: 650px;
    transform: rotate(15deg);
    margin-left: 600px;
    margin-top: -500px; }
  .contenido .play img {
    height: 60px;
    width: 60px;
    margin-left: 250px;
    margin-top: 10px; }
  .grupo-1 .box img {
    height: 75px;
    width: 75px; }
  .blog-post {
    width: 100vw;
    max-width: 1120px;
    margin-top: 150px;
    margin-left: 150px;
    padding: 30px;
    background-color: #c2c1c1;
    box-shadow: 0 1.4rem 8rem #8c8d8d;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    font-family: 'Roboto', sans-serif; }
  .blog-post-img {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    transform: translateX(-8rem);
    position: relative; }
  .blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem; }
  .blog-post-date h4 {
    display: block;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    margin: .5rem 0; }
  .blog-post-tittle {
    font-size: 35px;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: black; }
  .blog-post-text {
    margin-bottom: 3rem;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7); } }
