@import "partials/header";
@import "partials/footer";
@import "partials/inicio";
@import "partials/general";
@import "partials/wallpapers";
@import "./sass2/maps";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width:1366px){
    .container{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    
    
    .contenido{
        height: 100vh;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
    }
    
    
    .contenido h1{
        font-size: 60px;
        margin-left: 150px;
        margin-top: 220px;
    }
    
    .contenido p{
        font-size: 80px;
        font-weight: bolder;
        color: blueviolet;
        margin-left: 150px;
    }
    
    .contenido .control{
        height: 450px;
        width: 650px;
        transform: rotate(15deg);
        margin-left: 600px;
        margin-top: -500px;
    }
    
    .contenido .play img{
        height: 60px;
        width: 60px;
        margin-left: 250px;
        margin-top: 10px;
    }
    
    .grupo-1 .box img{
        height: 75px;
        width: 75px;
    }

    .blog-post{
        width: 100vw;
        max-width: 1120px;
        margin-top: 150px;
        margin-left: 150px;
        padding: 30px;
        background-color: rgb(194, 193, 193);
        box-shadow: 0 1.4rem 8rem rgb(140, 141, 141);
        display: flex;
        align-items: center;
        border-radius: .8rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .blog-post-img{
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        transform: translateX(-8rem);
        position: relative;
    }
    
    .blog-post-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .8rem;
    }
    
    .blog-post-date h4{
        display: block;
        color: rgb(58, 58, 58);
        font-size: 20px;
        font-weight: bold;
        margin: .5rem 0;
    }
    
    .blog-post-tittle{
        font-size: 35px;
        margin: 1.5rem 0 2rem;
        text-transform: uppercase;
        color: black;
    }
    
    .blog-post-text{
        margin-bottom: 3rem;
        font-size: 20px;
        color: rgba(0,0,0,.7);
        
    }
}