.blog-post{
    width: 100vw;
    max-width: 1600px;
    margin-top: 150px;
    margin-left: 150px;
    padding: 30px;
    background-color: rgb(194, 193, 193);
    box-shadow: 0 1.4rem 8rem rgb(140, 141, 141);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    font-family: 'Roboto', sans-serif;
    .blog-post-img{
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        transform: translateX(-8rem);
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: .8rem;
        }
    }
    .blog-post-date h4{
        display: block;
        color: rgb(58, 58, 58);
        font-size: 20px;
        font-weight: bold;
        margin: .5rem 0;
    }
    .blog-post-tittle{
        font-size: 35px;
        margin: 1.5rem 0 2rem;
        text-transform: uppercase;
        color: black;
    }
    .blog-post-text{
        margin-bottom: 3rem;
        font-size: 20px;
        color: rgba(0,0,0,.7);
        
    }

}